.discord-messages {
    color: #fff;
    background-color: #36393e;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 170%;
    border: 1px solid rgba(255, 255, 255, .05);

    border-radius: 0.375rem;
}

.discord-message {
    color: #dcddde;
    display: flex;
    flex-direction: column;
    font-size: .9em;
    margin: 1em 0;
    padding: 0.25em 1em 0;
}

.discord-message .discord-message-content {
    display: flex;
    width: 100%;
    line-height: 160%;
    font-weight: 400;
    overflow-wrap: anywhere;
}

.discord-message .discord-author-avatar {
    margin-top: 1px;
    margin-right: 16px;
    min-width: 40px;
}

.discord-message .discord-author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.discord-message .discord-author-info .discord-author-bot-tag {
    background-color: #5865f2;
    font-size: .65em;
    margin-left: 5px;
    padding: 3px 4px;
    border-radius: 3px;
    line-height: 100%;
    text-transform: uppercase;
}

.discord-message .discord-message-body {
    position: relative;
    width: 100%;
}

.discord-message .discord-author-info {
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
}

.discord-message .discord-message-content .discord-message-timestamp {
    color: #72767d;
    font-size: 12px;
    margin-left: 3px;
}

.discord-embed {
    color: #dcddde;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 150%;
}

.discord-embed .discord-embed-left-border {
    background-color: #202225;
    flex-shrink: 0;
    width: 4px;
    border-radius: 4px 0 0 4px;
}

.discord-embed .discord-embed-container {
    background-color: #2f3136;
    display: flex;
    flex-direction: column;
    max-width: 520px;
    padding: 8px 16px 16px;
    border: 1px solid rgba(46, 48, 54, .6);
    border-radius: 0 4px 4px 0;
}

.discord-embed .discord-embed-content {
    display: flex;
}

.discord-embed .discord-embed-content .discord-embed-author {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 8px;
}

.discord-embed .discord-embed-content .discord-embed-author .discord-embed-author-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;
}

.discord-embed .discord-embed-content .discord-embed-author a {
    color: #fff;
    font-weight: 500;
}

.discord-embed .discord-embed-content .discord-embed-author a:hover {
    text-decoration: underline;
}

.discord-message a {
    color: #0096cf;
    font-weight: 400;
    text-decoration: none;
}

.discord-embed .discord-embed-content .discord-embed-title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}

.discord-embed .discord-embed-content .discord-embed-title a {
    color: #00b0f4;
    font-weight: 600;
}

.discord-embed .discord-embed-content .discord-embed-description {
    margin-top: 8px;
}

.discord-embed .discord-embed-fields {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

.discord-embed .discord-embed-field {
    min-width: 100%;
    margin-top: 5px;
    border: solid 1px transparent;
}

.discord-embed .discord-embed-field.hovered {
    border: solid 1px orangered;
}

.discord-embed .discord-embed-field .discord-embed-field-title {
    color: white;
    font-weight: 500;
    margin-bottom: 2px;
}

.discord-embed .discord-embed-field .discord-embed-field-value {
    white-space: pre-line;
}

.discord-embed .discord-embed-field.discord-embed-field-inline {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 100px;
}

.discord-embed .discord-embed-content .discord-embed-image {
    max-width: 100%;
    margin-top: 16px;
    border-radius: 4px;
}

.discord-embed .discord-embed-footer {
    color: #72767d;
    display: flex;
    align-items: center;
    font-size: .85em;
    margin-top: 8px;
}

.discord-embed .discord-embed-footer .discord-embed-footer-icon {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
}

.discord-embed .discord-embed-content .discord-embed-thumbnail {
    max-width: 80px;
    max-height: 80px;
    margin-left: 16px;
    margin-top: 8px;
    border-radius: 4px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top center;
    object-position: top center;
}